{% load static %}

<!–– This is what comments look like ––>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jordan & Naoko</title>
   
    
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/jumbotron.css" %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/nav_jp/">日本語</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nav/">Directions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/guests/">Guest List</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
        <h3 style="font-size:20px;color:green;">Contact Us</h3><h3 style="font-size:20px;color:#273746;"> | </h3>

        <form class="form-inline my-2 my-lg-0">
          <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          <a href="mailto:jwinf843@gmail.com" class="btn btn-outline-success my-2 my-sm-0" role="button">Jordan's Email</a>
          <a href="mailto:cosmos.naochan@gmail.com" class="btn btn-outline-success my-2 my-sm-0" role="button">Naoko's Email</a>
        </form>
      </div>
    </nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron imageBox">
    <div class="container">
      <title>Example</title>
      
      <!-- Title at top of Page -->
      <div align="center">
        <h1 class="display-3">Directions to the Park</h1>
      </div>
      
      <!-- Put the map here dood -->
      
      <!-- Text -->
      <div align="center">
      <p>Jordan Winfery and Naoko Takata have invited you to join them to celebrate their marriage!</p>
      </div>
    </div>
  </div>

</main>

<!-- Map Insert -->
<div class="container">
  <div class="row justify-content-md-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.132748383289!2d135.482366215632!3d34.77743328661149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e52be64ba697%3A0x41737a008432cb8b!2z5pyN6YOo57eR5Zyw44OQ44O844OZ44Kt44Ol44O85bqD5aC044CO44OQ44O844OZ44OD44Kv44Oe44Or44K344Kn44CP!5e0!3m2!1sen!2sjp!4v1527550257752" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

</br>
</br>
</br>

<!-- Nao's Pictures -->
<div class="container">
  <div class="row justify-content-md-center">
    <picture>
      <source srcset="https://i.imgur.com/uEsHTYQ.jpg" type="image/svg+xml">
      <img src="https://i.imgur.com/uEsHTYQ.jpg" class="img-fluid img-thumbnail" alt="photo">
    </picture>
  </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>



